# Part 2: Feature Engineering
Now that we have completed exploratory data analysis, we are ready to begin feature engineering! Here are the activities we'll be completing as part of this notebook.

- Importing the proper Python libraries and raw dataset
- Using the proper Python libaries to properly engineer new features from the raw dataset
- Saving the "cleansed" feature engineered dataset back into the "/data/clean" directory

In [30]:
# Import the required Python libaries here

import pandas as pd
import matplotlib.pyplot as plt
from category_encoders.one_hot import OneHotEncoder

In [31]:
# Preliminary data cleanup from notebook 01

df = pd.read_csv('../data/raw/titanic-train-raw.csv')
df.drop(columns = ['PassengerId', 'Ticket', 'Cabin', 'Name'], inplace = True) # these are probably not useful
df.head(50)

    Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0          0       3    male  22.0      1      0    7.2500        S
1          1       1  female  38.0      1      0   71.2833        C
2          1       3  female  26.0      0      0    7.9250        S
3          1       1  female  35.0      1      0   53.1000        S
4          0       3    male  35.0      0      0    8.0500        S
5          0       3    male   NaN      0      0    8.4583        Q
6          0       1    male  54.0      0      0   51.8625        S
7          0       3    male   2.0      3      1   21.0750        S
8          1       3  female  27.0      0      2   11.1333        S
9          1       2  female  14.0      1      0   30.0708        C
10         1       3  female   4.0      1      1   16.7000        S
11         1       1  female  58.0      0      0   26.5500        S
12         0       3    male  20.0      0      0    8.0500        S
13         0       3    male  39.0      1      5   31.2750        S
14         0       3  female  14.0      0      0    7.8542        S
15         1       2  female  55.0      0      0   16.0000        S
16         0       3    male   2.0      4      1   29.1250        Q
17         1       2    male   NaN      0      0   13.0000        S
18         0       3  female  31.0      1      0   18.0000        S
19         1       3  female   NaN      0      0    7.2250        C
20         0       2    male  35.0      0      0   26.0000        S
21         1       2    male  34.0      0      0   13.0000        S
22         1       3  female  15.0      0      0    8.0292        Q
23         1       1    male  28.0      0      0   35.5000        S
24         0       3  female   8.0      3      1   21.0750        S
25         1       3  female  38.0      1      5   31.3875        S
26         0       3    male   NaN      0      0    7.2250        C
27         0       1    male  19.0      3      2  263.0000        S
28         1       3  female   NaN      0      0    7.8792        Q
29         0       3    male   NaN      0      0    7.8958        S
30         0       1    male  40.0      0      0   27.7208        C
31         1       1  female   NaN      1      0  146.5208        C
32         1       3  female   NaN      0      0    7.7500        Q
33         0       2    male  66.0      0      0   10.5000        S
34         0       1    male  28.0      1      0   82.1708        C
35         0       1    male  42.0      1      0   52.0000        S
36         1       3    male   NaN      0      0    7.2292        C
37         0       3    male  21.0      0      0    8.0500        S
38         0       3  female  18.0      2      0   18.0000        S
39         1       3  female  14.0      1      0   11.2417        C
40         0       3  female  40.0      1      0    9.4750        S
41         0       2  female  27.0      1      0   21.0000        S
42         0       3    male   NaN      0      0    7.8958        C
43         1       2  female   3.0      1      2   41.5792        C
44         1       3  female  19.0      0      0    7.8792        Q
45         0       3    male   NaN      0      0    8.0500        S
46         0       3    male   NaN      1      0   15.5000        Q
47         1       3  female   NaN      0      0    7.7500        Q
48         0       3    male   NaN      2      0   21.6792        C
49         0       3  female  18.0      1      0   17.8000        S

In [32]:
# fill NaN values in Age with the average ages of both genders
df = df.groupby(['Sex'], group_keys=False).apply(lambda x: x.fillna(round(x.mean())))
df.head(25)

/var/folders/94/lzj8vbj5163bjrxy7ms0rr000000gn/T/ipykernel_8429/1609644804.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.groupby(['Sex'], group_keys=False).apply(lambda x: x.fillna(round(x.mean())))

    Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          0       3    male  22.0      1      0   7.2500        S
1          1       1  female  38.0      1      0  71.2833        C
2          1       3  female  26.0      0      0   7.9250        S
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
5          0       3    male  31.0      0      0   8.4583        Q
6          0       1    male  54.0      0      0  51.8625        S
7          0       3    male   2.0      3      1  21.0750        S
8          1       3  female  27.0      0      2  11.1333        S
9          1       2  female  14.0      1      0  30.0708        C
10         1       3  female   4.0      1      1  16.7000        S
11         1       1  female  58.0      0      0  26.5500        S
12         0       3    male  20.0      0      0   8.0500        S
13         0       3    male  39.0      1      5  31.2750        S
14         0       3  female  14.0      0      0   7.8542        S
15         1       2  female  55.0      0      0  16.0000        S
16         0       3    male   2.0      4      1  29.1250        Q
17         1       2    male  31.0      0      0  13.0000        S
18         0       3  female  31.0      1      0  18.0000        S
19         1       3  female  28.0      0      0   7.2250        C
20         0       2    male  35.0      0      0  26.0000        S
21         1       2    male  34.0      0      0  13.0000        S
22         1       3  female  15.0      0      0   8.0292        Q
23         1       1    male  28.0      0      0  35.5000        S
24         0       3  female   8.0      3      1  21.0750        S

In [33]:
sex_ohe_encoder = OneHotEncoder(use_cat_names = True, handle_unknown = 'ignore')
sex_dummies = sex_ohe_encoder.fit_transform(df['Sex'])

# sex_dummies = pd.get_dummies(df['Sex'], drop_first=False)
df = pd.concat([df, sex_dummies], axis = 1).drop('Sex', axis = 1)
#df = df[['Survived', 'Pclass', 'female', 'male', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
df

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_male,Sex_female
0,0,3,22.0,1,0,7.2500,S,1,0
1,1,1,38.0,1,0,71.2833,C,0,1
2,1,3,26.0,0,0,7.9250,S,0,1
3,1,1,35.0,1,0,53.1000,S,0,1
4,0,3,35.0,0,0,8.0500,S,1,0
...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,S,1,0
887,1,1,19.0,0,0,30.0000,S,0,1
888,0,3,28.0,1,2,23.4500,S,0,1
889,1,1,26.0,0,0,30.0000,C,1,0
890,0,3,32.0,0,0,7.7500,Q,1,0

In [34]:
embarked_ohe_encoder = OneHotEncoder(use_cat_names = True, handle_unknown = 'ignore')
embarked_dummies = embarked_ohe_encoder.fit_transform(df['Embarked'])
df = pd.concat([df, embarked_dummies], axis = 1).drop('Embarked', axis = 1)


# dummy2 = pd.get_dummies(df['Embarked'], drop_first=False, dummy_na = True)
# df = pd.concat([df, dummy2], axis = 1).drop('Embarked', axis = 1)
df.head(65)

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Sex_female,Embarked_S,Embarked_C,Embarked_Q,Embarked_nan
0,0,3,22.0,1,0,7.2500,1,0,1,0,0,0
1,1,1,38.0,1,0,71.2833,0,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,0,1,1,0,0,0
3,1,1,35.0,1,0,53.1000,0,1,1,0,0,0
4,0,3,35.0,0,0,8.0500,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
60,0,3,22.0,0,0,7.2292,1,0,0,1,0,0
61,1,1,38.0,0,0,80.0000,0,1,0,0,0,1
62,0,1,45.0,1,0,83.4750,1,0,1,0,0,0
63,0,3,4.0,3,2,27.9000,1,0,1,0,0,0
64,0,1,31.0,0,0,27.7208,1,0,0,1,0,0

In [35]:
bin_labels = ['child', 'teen', 'young_adult', 'adult', 'elder']
bin_values = [-1, 12, 19, 30, 60, 100]

age_bins = pd.cut(df['Age'], bins = bin_values, labels = bin_labels)
df_age_bins = pd.DataFrame(age_bins)

age_ohe_encoder = OneHotEncoder(use_cat_names = True, handle_unknown = 'ignore')
age_dummies = age_ohe_encoder.fit_transform(df_age_bins)
df = pd.concat([df, age_dummies], axis = 1).drop('Age', axis = 1)
df

,Survived,Pclass,SibSp,Parch,Fare,Sex_male,Sex_female,Embarked_S,Embarked_C,Embarked_Q,Embarked_nan,Age_child,Age_teen,Age_young_adult,Age_adult,Age_elder
0,0,3,1,0,7.2500,1,0,1,0,0,0,0,0,1,0,0
1,1,1,1,0,71.2833,0,1,0,1,0,0,0,0,0,1,0
2,1,3,0,0,7.9250,0,1,1,0,0,0,0,0,1,0,0
3,1,1,1,0,53.1000,0,1,1,0,0,0,0,0,0,1,0
4,0,3,0,0,8.0500,1,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,0,13.0000,1,0,1,0,0,0,0,0,1,0,0
887,1,1,0,0,30.0000,0,1,1,0,0,0,0,1,0,0,0
888,0,3,1,2,23.4500,0,1,1,0,0,0,0,0,1,0,0
889,1,1,0,0,30.0000,1,0,0,1,0,0,0,0,1,0,0
890,0,3,0,0,7.7500,1,0,0,0,1,0,0,0,0,1,0

In [36]:
df.to_csv('../data/clean/new_data.csv', index = False)